<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">


<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<TITLE>Workflow Lite</TITLE>
<META NAME="Description" CONTENT="RyalTech - Offers light weight business process management product with an easy conversion path from WLI">
<META NAME="Keywords" CONTENT="WLI, WebLogic Integration, SOA Suite, BPEL">
<META NAME="Management" CONTENT="RyalTech, Workflow Management System,
BPM, Business Process Management">
<META NAME="classification" CONTENT="Computers, Software, Business Process Management, SOA, Products">
<META NAME="page-topic" CONTENT="RyalTech, Workflow Management System, BPM">
<META NAME="page-type" CONTENT="RyalTech, Workflow Management System, BPM">
<META NAME="audience" CONTENT="all">
<META NAME="author" CONTENT="RyalTech">
<META NAME="revisit-after" CONTENT="4 days">
<META NAME="content-Language" CONTENT="English">
<META NAME="distribution" CONTENT="global">
<META NAME="copyright" CONTENT="by http://www.ryaltech.com">
<META NAME="robots" CONTENT="All">
<meta http-equiv="Content-Type" content="text/html; charset=windows-1252">

<style media="screen,projection" type="text/css">
@import '/stylesheets/ryaltech.css';
</style>
<script>
	function contact(prefix){
		document.location = "mailto:"+prefix+"@workflowlite.com";
	}
</script>
    <script src="/js/jquery-1.4.2.min.js"></script>
    <script src="/js/raphael-1.4.7.min.js"></script>
    <script src="/js/raphuml-0.4-SNAPSHOT.js"></script>
    <script>
    $(function() { $('.classDiagram').classDiagram(); });
    </script>

</head>

<body id="landing">
  <div id="wrap">
    <div id="header"><span id="logo">Workflow Lite</span></div>
    <div class="menu">  
    	
      <ul id="css3menu" class="topmenu">
	      <li class="topfirst"><a href="index.html" title="Home" id="home">Home</a></li>
	      <li class="topmenu"><a title="Documentation"><span>Documentation</span></a>	        
	      	<ul>
		        <li class="subfirst"><a href="overview.html">Overview</a></li>
		        <li><a href="jpd-guide.html">WLI Migration</a></li>
		        <li><a href="unit-testing-guide.html">Testing guide</a></li>		        
		        <li><a href="deployment.html">Deployment guide</a></li>		        
                        <li><a href="design.html">Internal design</a></li>
	        </ul>
	      </li>
	      <li class="topmenu"><a>Contact</a>
	      	<ul>
		        <li class="subfirst"><a href="javascript:contact('inquiries')">Inquiries</a></li>
		        <li><a href="javascript:contact('sales')">Sales</a></li>
		        <li><a href="javascript:contact('support')">Support</a></li>		        
	        </ul>
	      </li>
      </ul>
      
    </div>
  
    <div id="main">
      {{ content }}
    </div>
    <div id="footer">
    	&nbsp;
    	<span id="copyright">&copy; 2007-2011 RyalTech</span>
    </div>
  </div>
</body>



</html>
